    <footer id="footer">
      <span class="cr">© 
        <%= site.copyright.beginYear %> - <%= site.copyright.endYear %> 
        <%= site.copyright.owner %>.
      </span>
      <span class="pb">By <a class="jugg-link" href="https://github.com/jugg-yy/jugg">jugg</a>.</span>
    </footer>
    <script src="/assets/vendor/prettify.js"></script>
  </body>
</html>