    <footer id="footer">
      <span class="cr">© 
        <%= site.copyright.beginYear %> - <%= site.copyright.endYear %> 
        <%= site.copyright.owner %>.
      </span>
      <span class="pb">By jugg.</span>
    </footer>
    <script src="/assets/vendor/prettify.js"></script>
  </body>
</html>