<div id="pagination">
  <% for( var i = 1; i <= pagination.pageLength; i++ ){ %>
    <a 
      class="<%= i == pagination.pageNum ? 'active' : '' %> tran-opacity" 
      <% if( i != pagination.pageNum ){ %>
        href="<%= i === 1 ? site.host.rootAddress : site.host.rootAddress + 'p/' + i + '/' %>"
      <% } %>
    >
      <%= i %>
    </a>
  <% } %>
</div>