<% include inp/header %>

<div id="main">

  <% include inp/banner %>

  <section id="wrapper">
    <article>
      <div class="article-title"><%= article.title %></div>
      <div><%- article.content %></div>
    </article>
  </section>
</div>

<% include inp/footer %>
