<% include inp/header %>

<div id="main">

  <% include inp/banner %>

  <section id="wrapper">
    <article>
      <h1 class="article-title"><%= article.title %></h1>
      <p><%- article.content %></p>
    </article>
  </section>
</div>

<% include inp/footer %>
