<% include inp/header %>

<div id="main">

  <% include inp/banner %>

  <section id="wrapper">
    <div id="article-list">
      <% articles.items.forEach(function (item) { %>
        <div class="article-item">
          <h1 class="article-title">
            <a href="<%= item.href %>"><%= item.title %></a>
          </h1>
          <p class="article-subtitle">
            <%= item.subtitle %>
          </p>
        </div>
      <% } ) %>
    </div>
  </section>	
</div>

<% include inp/footer %>