<% include inp/header %>

<div id="main">

  <% include inp/banner %>

  <section id="wrapper">
    <article>
      <p><%- page.content %></p>
    </article>
  </section>
</div>

<% include inp/footer %>
